.conteneurImage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.conteneurImage::before{
    content:"";
    position:absolute;
    background-image: url("../assets/Rivage.jpg");
    top:0;
    left:0;
    filter:brightness(50%);
    z-index: -1;
}
.image{
    width: 88vw;
    margin: auto;
    border-radius: 20px;
    height: 223px;
    object-fit:cover;
}
.textSurImage{
    width :705px;
    height:68px;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    position:absolute;
    color: var(--blanc);
    text-align: center;
    width: 85%;
    word-wrap: break-word;

}