.conteneurImage
    position: relative
    display: flex
    justify-content: center
    align-items: center
    background-image: url("../assets/Rivage.jpg")
    width: 88vw
    margin: 0 auto 35px

    &::before
        content: ""
        position: absolute
        margin: 0 auto
        top: 0
        left: 0
        width: 88vw
        height: 223px
        background-color: rgb(0,0,0, 20%)
        border-radius: 20px

    &__image
        width: 88vw
        margin: auto
        border-radius: 20px
        height: 223px
        object-fit: cover
    

    &__textSurImage
        width : 705px
        height: 68px
        font-size: 48px
        font-weight: 500
        line-height: 68px
        position: absolute
        color: var(--blanc)
        text-align: center
        width: 85%