.conteneurLogement {
  margin-bottom: 15px;
}
.conteneurLogement .conteneurInformationsLogement {
  margin-top: 50px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  width: 88vw;
  height: auto;
}
.conteneurLogement .conteneurInformationsLogement .descriptionLogement {
  color: var(--rose);
  max-width: 1000px;
  height: auto;
  flex-direction: column;
}
.conteneurLogement .conteneurInformationsLogement .descriptionLogement .descriptionImg {
  font-size: 36px;
  margin: 0;
}
.conteneurLogement .conteneurInformationsLogement .descriptionLogement .localisationImg {
  font-size: 18px;
  margin: 0;
}
.conteneurLogement .conteneurInformationsLogement .descriptionLogement .conteneurQualites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.conteneurLogement .conteneurInformationsLogement .descriptionLogement .qualite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 25px;
  background: var(--rose);
  border-radius: 10px;
  font-size: 14px;
  color: var(--blanc);
  margin: 20px 10px 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conteneurLogement .conteneurInformationsLogement .conteneurLoueuretEtoiles .conteneurDernierLoueur {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.conteneurLogement .conteneurInformationsLogement .conteneurLoueuretEtoiles .conteneurDernierLoueur .nomDernierLoueur {
  color: var(--rose);
  width: 100px;
  padding-right: 5px;
  text-align: end;
}
.conteneurLogement .conteneurInformationsLogement .conteneurLoueuretEtoiles .conteneurDernierLoueur .photoDernierLoueur {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin: auto 0;
}
.conteneurLogement .conteneurInformationsLogement .conteneurLoueuretEtoiles .conteneurEtoiles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.boxCollapses {
  display: flex;
  flex-direction: row !important;
  margin: 0 !important;
  width: 88vw !important;
  justify-content: space-between;
  min-height: 52px !important;
}
.boxCollapses .collapse {
  width: 41vw;
  margin-right: 0;
}
.boxCollapses p.devise__texte {
  width: calc(41vw - 40px);
}

@media screen and (max-width: 900px) {
  .conteneurInformationsLogement {
    flex-direction: column !important;
  }
  .conteneurInformationsLogement .descriptionLogement .conteneurQualites .qualite {
    margin: 10px 10px 10px 0;
  }
  .conteneurInformationsLogement .descriptionLogement .descriptionImg {
    width: 88vw;
    font-size: 30px !important;
  }
  .conteneurInformationsLogement .descriptionLogement .localisationImg {
    font-size: 16px !important;
  }
  .conteneurInformationsLogement .conteneurLoueuretEtoiles {
    position: relative;
  }
  .conteneurInformationsLogement .conteneurLoueuretEtoiles .conteneurDernierLoueur .nomDernierLoueur {
    font-size: 12px;
    width: 60px !important;
  }
  .conteneurInformationsLogement .conteneurLoueuretEtoiles .conteneurDernierLoueur .photoDernierLoueur {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
  }
  .conteneurInformationsLogement .conteneurLoueuretEtoiles .conteneurEtoiles {
    position: absolute;
    top: 5px;
  }
  .conteneurInformationsLogement .conteneurLoueuretEtoiles .conteneurEtoiles > div {
    transform: scale(0.6);
    left: -40px;
  }
  .boxCollapses {
    flex-direction: column !important;
  }
  .boxCollapses .collapse {
    width: 88vw;
    margin-top: 20px;
  }
  .boxCollapses .collapse .devise {
    font-size: 16px !important;
  }
  .boxCollapses .active {
    width: 88vw !important;
  }
  .boxCollapses .active .devise__texte {
    font-size: 14px !important;
    width: calc(88vw - 40px) !important;
  }
  .boxCollapses .active .devise {
    font-size: 14px;
  }
}/*# sourceMappingURL=conteneurInfoLogementPage2.css.map */