
ul{
  list-style-type: none;
}


/* Header */
.conteneurNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 68px;
  width: 86vw;
  margin: 35px auto;

}
.menuNav{
  display : flex;
  flex-direction: row;
  width: 309px;
  margin: auto 0;
  padding-left: 0;
}
.menuNav > li {
  margin-left: 5vw;
  display: flex;
  align-items: flex-end;
  height: 34px;
}
.format1{
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}